body {
  background: #DDD;
}

.sidebar {
  background: red;
  width: 19%;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  height: calc(100vh - 15px);
}

.main {
  display: inline-block;
  width: 80%;
  margin-left: 20%;
}

.main .box {
  height: calc(100vh - 15px);
  background: #888;
  margin-top: 15px;
}

.main .box:first-child {
  margin-top: 0 !important;
}